.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    transition: background-color 0.3s ease-in;
}

.btn:hover, .btn:focus {
    color: rgba(255, 208, 0, 0.945);
    background-color: rgb(119, 44, 189);
    cursor: pointer;
}

header .btn {
    border-radius: 20px;
    background-color: #272b29;
    color: rgb(167, 230, 187);
    padding: 8px 10px 6px 11.1px;
    font-size: 30px;    
}

.edit_btn_div {
    height: 50px;
}

.headerButtons {
    display: flex;
    align-items: center;
}

.headerButtons > .btn{
    margin: 2px 10px;
}

/*---------*/
#addNewCat {
    background-color: rgb(17, 14, 94);
    width: 35px;
    height: 30px;
    border: 2px solid aliceblue;
}
#addNewCat__plus {
    font-size: 19px;
    color: antiquewhite;
}

/* #add {
    padding-top: 3px;
    padding-bottom: 0px;    
} */

.form___btn {
    font-size: 14px;
    width: 100%;
    padding: 10px;
    grid-column-start: 3;
    border-radius: 50px;
}

.popup__close_external {
    border-radius: 5px;
}

#login {
    font-size: 20px;
    padding-bottom: 7px;
    color: beige;
}

#popup-form-login .form___btn {
    width: 110px;
    font-size: 15px;
}

/* button.popup__close.btn.modal-close {
    padding-bottom: 1px;
} */


/* color: rgb(167, 230, 187); 
color: rgb(37, 241, 102); */