.cards {
    display: grid;
    /* width: 100%; */
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr)); 
    gap: 25px;
    margin: 20px auto;
    /* align-content: flex-start; */
}

.card.scale {
    height: 100px;
}

/* repeat(auto-fill, minmax(270px, 1fr)); */