


/* .container_showCatInfo p {
    grid-column: 1 / 4;
    height: 30px;
} */

.container_showCatInfo {
    height: 100%;
    width: 100%; 
    display: grid;
    grid-template-columns: 5fr 1fr;

}

.container_showCatInfo img {
    width: 100%;
    max-height: 60vh;
    object-fit: contain;
    /* height: 100%; */
    /* inline-size: auto; */
}


#description {
    grid-column-start: span 2;
    display: grid;
    grid-template-columns: auto 4fr;
}

#description div {
    padding-top: 16px;
    padding-left: 17px;
    font-size: 40px;
}

#description div .fa-solid {
    color: rgb(197, 34, 34);
    text-shadow: 1px 1px 15px rgb(165, 51, 218);
}
#description div .fa-regular {
    color: rgba(218, 126, 84, 0.849);
}

#description span {
    grid-column-start: span 2;
    font-size: 20px;    
}

/* ----------Author--------- */

.closeBtnAuthor {
    position: absolute;
    /* right: 230px;
    top: 160px;  */
}

#divAuthContain span {
    margin: 15px 20px;
    font-size: 25px;
}

/* #divAuthContain img {
} */

/* .modalAuth {
} */